body {
    font: 20px/1.5 Arial, Helvetica sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}


header {
    background-color: cornflowerblue;
    color: black;
    border-bottom: 5px solid black;
    min-height: 20px;
}

header .division {
    color: navy;
    font-weight: bolder;
}

header #branding {
    float: left;
    font-size: small;
}

header li {
    float: left;
    display: inline;
    padding: 30px;
    padding-top: 45px;
}

header nav {
    float: right;
    font-weight: bolder;
}

header .current a {
    color: black;
}

#showcase {
    background: url('backer.jpg') no-repeat;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: dimgrey;
}

#showcase p {
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 10px;
}

footer {
    padding: 20px;
    background-color: cornflowerblue;
    color: black;
    text-align: center;
    margin-top: 20px;
}

article#main-col {
    width: 60%;
    float: left;
    padding-top: 30px;
}

ul#services li#first {
    padding: 20px;
    border: cornflowerblue solid 2px;
    list-style: none;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 40px;
    background: #e6e6e6;
}

article li {
    list-style: none;
    padding-bottom: 10px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 50px;
    background-color: cornflowerblue;
    border: dimgray solid 2px;
    padding: 20px;
    padding-left: 40px;
}

aside#sidebar .dark li {
    width: 90%;
    padding: 5px;
    list-style: none;
}

#boxes {
    float: left;
    background-color: #e6e6e6;
    width: 100%;
    padding: 10px;
}

header a:hover {
    color: blanchedalmond;
    font-weight: bold;
}
